= form_for @question do |f|
  = render 'shared/error_messages', target: @question
  %fieldset
    = f.text_field :title, placeholder: t('helpers.label.question.title')
    = f.text_area :body, placeholder: t('helpers.label.question.body')
    = f.submit "Создать вопрос"