.questions
  .question{id: @question.id}
    = render 'question'
    = render 'comments/comments', target: @question

%hr
.answers{ "data-question-id" => @question.id}
  = render 'answers/answers'
.new_answer_form
  = render 'answers/form'

= subscribe_to "/questions/#{@question.id}/comments"
= subscribe_to "/questions/#{@question.id}/answers"