%h4= @question.title
%p= @question.body
%p
  Автор: 
  = User.find(@question.user_id).name
  Список тегов:
  = tag_links(@question.tag_list)
- if current_user && @question.user_id == current_user.id
  %div.actions
    = link_to 'удалить вопрос', question_path(@question), method: :delete
    | 
    = link_to 'редактировать', edit_question_path(@question)

= form_for [@question, @answer], remote: true do |f|
  = f.label :body, t('answer_body')
  = f.text_area :body
  .answer-errors
  = f.submit t('answer_submit')

%hr
.mute Ответы:
.answers
  = render 'answers'

  
= button_to "Ответить", new_question_answer_path(@question), method: "get"