- render 'shared/error_messages', target: @answer

= nested_form_for [@question, @answer], remote: true do |f|
  %fieldset
    = f.label :body, t('answer_body')
    = f.text_area :body
    = f.fields_for :attachments do |a|
      = a.label :file
      = a.file_field :file
      = a.link_to_remove "Удалить файл"
    = f.link_to_add "Добавить файл", :attachments, data: { :'blueprint-id' => "answer_attachments_fields_blueprint" }
    = render 'answers/blueprint_answer_file'
    .answer-errors
    = f.submit t('answer_submit')