!!!
%html
  %head
    %title Qna
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %div.container
      %header
        %div.float-left
          = link_to 'все вопросы', questions_path
          - if can?(:create, Question)
            |
            = link_to "задать вопрос", new_question_path
        - if signed_in?
          вы вошли как
          = current_user.email
          | 
          = link_to 'выйти', destroy_user_session_path, method: "delete"
        - else
          = link_to 'войти', new_user_session_path
      - if notice
        %div.notice= notice
      - if alert
        %div.alert.error-explanation= alert
      .search
        = render 'search/form'
      = yield